<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
   <!--add name="Baza" connectionString="Server=DESKTOP-2LKQ2A8; Database=Biblioteka; Trusted_Connection = true;" providerName="System.Data.SqlClient"/-->
    <add name="Baza" connectionString="Server=MS-SQL\ITIVITY,11111; Database=Biblioteka; User Id=biblioteka_admin;
        Password=biblioteka.456;" providerName="System.Data.SqlClient"/>
  <!--<add name="Baza" connectionString="Server=DESKTOP-6UHADV6; Database=Biblioteka; Trusted_Connection = true;" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
</configuration>